# Ignore node_modules in any folder in this repo
node_modules/

# Common React Native extras
.env
.expo/
.expo-shared/

/10-maps-app/node_modules
/10-maps-app/.expo
/10-maps-app/.vscode
/10-maps-app-deprecated